.lib {
    opacity: 0;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
    z-index: 11;
    position: fixed;
    top: 3%;
    left: 31%;
    max-width: 312px;
    max-height: 600px;
    background-color: #ffe9d4;
    border-bottom: none;
    overflow: auto;
    border-radius: 10px;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 18px 28px;
        li {
            cursor: pointer;
            border-bottom: 0.125em solid #dbdbdb;
            margin-bottom: 0.5em;
            img {
                max-width: 240px;
            }
            p {
                margin: 0;
                padding: 0;
                font-size: 1rem;
                color: #535353;
            }
        }
        :last-child {
            border-bottom: none;
        }
    }
}
