@mixin block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.buttons {
  @include block();
  width: 100vw;
  font-size: 1rem !important;
  justify-content: left;
  z-index: 3;
  color: black;
  margin: 3.125em 0 3em 0;
  flex-direction: row;
  gap: 2.6875em;

  button:first-child {
    margin-left: 3vw;
  }
  button:last-child {
    margin-left: auto;
    margin-right: 3vw;
  }

  button:hover {
    background-color: #e3e3e3;
  }

  button:active {
    background-color: #d6d6d6;
  }
  button:disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
}

.content,
.setting,
.trash {
  border: none;
  font: inherit;
  color: inherit;
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 0.5rem;
  border-color: none;
  font-size: 20px;
}
.setting {
  padding: 5px 10px 0 10px;
}
.content {
  padding: 8px 12px 2px 13px;
}
.trash {
  padding: 8px 11px 2px 11px;
}
