.gallery {
    .page__content {
        margin: 0 auto;
        .buttons {
            margin: 0;
        }
        .gallery-div {
            width: 90% !important;
            margin: 0 auto;
            margin-bottom: 2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em;
            div {
                background-color: #d9d9d9;
                border-radius: 10px;
                width: 24em;
                height: 23em;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    &[src*="none"] {
                        display: none;
                    }
                }
            }
        }
    }
}
