.sample1 {
  display: flex;
  align-items: center;
  justify-content: center;
  .page__content {
    font-family: "Andika";
    display: flex;
    flex-wrap: wrap;
    gap: 5rem; /* 80px */
    padding: 0 3.125rem;
    padding-bottom: 1.3125rem; /* 21px 50px */
    align-items: center;
    justify-content: center;
    .titles {
      width: fit-content;
      min-width: 600px;
      height: fit-content;
      h1 {
        margin-bottom: 2.5rem; /* 40px */
      }
      h2 {
        width: auto;
        margin: 0;
        &:first-child {
          margin-bottom: 1.25rem; /* 20px */
          margin-left: auto;
          margin-right: 1.25rem; /* 20px */
        }

        &:last-child {
          margin-right: auto;
          margin-left: 2.5rem; /* 40px */
        }
      }
    }

    .gallery {
      width: 43.75rem; /* 700px */
      height: 40.625rem; /* 650px */

      img {
        border-radius: 3.125rem; /* 50px */
        border-color: black;
        border-width: 0.125rem; /* 2px */
        border-style: solid;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h1 {
    border-radius: 0.222em;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    background-color: #d9d9d9;
    background-color: rgba(217, 217, 217, 0.2);
  }
}

.header.sample2 {
  .titles {
    width: fit-content;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  h1 {
    border-radius: 0.222em;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    background-color: #d9d9d9;
    background-color: rgba(217, 217, 217, 0.2);
  }
}

.sample4 {
  overflow: hidden;
  .page__content {
    margin: 0;
    display: flex;
    gap: 10rem; /* 80px */
    padding-bottom: 1.3125rem; /* 21px 50px */
    align-items: center;
    justify-content: center;
    .titles {
      margin-left: 5rem;
      width: 500px;
      h1 {
        padding: 0;
        margin-right: auto;
      }
      h2 {
        width: auto;
        margin-right: auto;
      }
    }
    .gallery {
      position: sticky;
      width: 70%;
      height: 120%;
      display: flex;
      flex-direction: column;
      img {
        width: 500px;
        height: 500px;
        border-radius: 3.125rem; /* 50px */
        object-fit: cover;
        &:first-child {
          margin-bottom: -100px;
          transform: rotate(8.74deg);
        }
        &:last-child {
          margin-left: 15rem;
          transform: rotate(-8.74deg);
        }
      }
    }
  }
}
