@use "./blocks.scss" as blocks;
@use "../mixins.scss" as mixins;

.header {
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  @include blocks.block();
}

.titles {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  max-width: 70%;
  text-wrap: wrap;
  @include blocks.block();
}

h1 {
  width: 100%;
  @include mixins.responsive-font(var(--max-font-h1), var(--dynamic-font));
  margin: 0;
  color: #ffffff;
  padding: 0.12em 0.333em 0.144em 0.389em;
  margin-bottom: 0.8em;
}

h2 {
  width: 100%;
  @include mixins.responsive-font(var(--max-font-h2), var(--dynamic-font));
  margin: 0;
  color: #ffffff;
  margin-bottom: 4.35em;
  @media (max-width: 780px) {
    margin-bottom: 2.5em;
  }
  @media (max-width: 480px) {
    margin-bottom: 1.5em;
  }
}
