@use "../mixins.scss" as mixins;

.preview-section {
    position: relative;
    height: 3.875em;
    width: 100%;
    background-color: rgba(203, 203, 203, 0.6);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideIn 0.3s ease-out;
    @media (max-width: 800px) {
        height: 2.8em;
    }
    @media (max-width: 500px) {
        height: 2em;
    }
    p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        margin: 0;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        @media (max-width: 800px) {
            font-size: 1.6rem;
        }
        @media (max-width: 500px) {
            font-size: 1.4rem;
        }
    }

    .preview {
        @include mixins.customButton($backgroundColor: #ffffff, $margin-bottom: 0);
        margin-top: 0;
        padding: 6px 19px;
        margin-left: auto;
        margin-right: 1em;
        @media (max-width: 1199px) {
            display: none;
        }
    }

    div {
        margin-left: auto;
        margin-right: 2em;
        display: flex;
        gap: 0.5em;
        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            &.active {
                background-color: rgba(255, 255, 255, 0.6);
            }
            padding-left: 1em;
            padding-right: 1em;
            border-radius: 10px 10px 0 0;
            margin-top: 1%;
        }
    }

    .exit {
        height: 100%;
        align-self: center;
        margin-right: 1em;
    }

    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
}
