@use "../mixins.scss" as mixins;

.preview-section {
    position: fixed;
    height: 3.875em;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(203, 203, 203, 0.6); // Полупрозрачный серый фон
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        padding: 0;
        margin: 0;
        padding-left: 18%;
        font-size: 2rem;
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .preview {
        @include mixins.customButton($backgroundColor: #ffffff, $margin-bottom: 0);
        margin-top: 0;
        padding: 6px 19px;
        margin-right: 1em;
    }
    div {
        margin-right: 2em;
        display: flex;
        gap: 0.5em;
        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            &.active {
                background-color: rgba(255, 255, 255, 0.6);
            }
            padding-left: 1em;
            padding-right: 1em;
            border-radius: 10px 10px 0 0;
            margin-top: 1%;
        }
    }
    .exit {
        height: 100%;
        align-self: center;
        margin-right: 1em;
    }

    animation: slideIn 0.3s ease-out;
    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
}
