.text {
    &.sample2,
    &.sample3,
    &.sample6 {
        h2 {
            margin-bottom: 1em !important;
        }
        .text-container {
            justify-content: center;
            display: flex !important;
            gap: 2em !important;
            .text-div {
                padding: 0.8em !important;
                min-height: 300px !important;
            }
        }
    }
    &.sample3 {
        .text-container {
            justify-content: center;
            .text-div {
                width: 50%;
                word-break: break-word;
            }
        }
    }
    &.sample6 {
        .text-container {
            @media (max-width: 780px) {
                display: block !important;
            }
        }
    }
    &.sample7 {
        div {
            p {
                margin-bottom: 0.4em;
            }
        }
    }
    &.sample7,
    &.sample8 {
        .text-container {
            display: flex !important;
            flex-direction: column;
            gap: 1em !important;
            .text-div {
                padding: 0.8em !important;
            }
        }
    }
    &.sample8 {
        .text-div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;
            padding: 0.8em !important;
            margin-left: 42%;
            width: 45%;
            justify-content: left;
            img {
                display: flex;
                justify-content: start;
                height: min(max(var(--font-data, 2rem), 2rem), 5rem);
            }
            p {
                display: block;
                margin: 0;
                padding: 0;
            }
            @media (max-width: 780px) {
                margin-left: 32%;
            }
            @media (max-width: 495px) {
                margin-left: 22%;
            }
        }
    }

    &.sample9 {
        .text-container {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin: 50px;
            width: 82%;
            margin: 0 auto;
            margin-right: 0;
            align-items: flex-start;
            @media (max-width: 780px) {
                width: 85%;
            }
            @media (max-width: 495px) {
                width: 90vw;
            }
        }

        .text-container::before {
            content: "";
            position: absolute;
            top: 1.5em;
            left: 2%;
            right: 23%;
            border-top: 2px solid;
            border-top-color: var(--custom-color);
            transform: translateY(-50%);
            z-index: 1;
        }

        .block {
            position: relative;
            z-index: 2;
            min-width: 0;
            .circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f39c12;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                font-weight: bold;
                font-size: 18px;
            }

            p {
                margin-left: -0.5em;
                display: block;
                width: 10em !important;
                @media (max-width: 780px) {
                    width: 5.5em !important;
                }
                @media (max-width: 495px) {
                    width: 5em !important;
                }
            }
        }
    }
    &.sample9,
    &.sample10 {
        p {
            max-width: 300% !important;
        }
    }
    &.sample10 {
        position: relative;
        .page__content {
            display: flex;
            flex-direction: column;
        }
        .text-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            min-height: 30em;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--custom-color);
                width: 2px;
                top: 15%;
                height: calc(100% - (15% + 25px) - 3em);
                z-index: 1;
            }
        }

        .block {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 2em;
            width: 50%;
            margin: 50px auto;
            box-sizing: border-box;
            z-index: 2;
            min-width: 0;
            .circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f39c12;
                color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            p {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: fit-content;
                margin: 0;
            }

            &.odd {
                p {
                    display: block;
                    text-align: right;
                    width: 80% !important;
                    left: -37%;
                    transform: none;
                    margin-top: -0.5em;
                    @media (max-width: 780px) {
                        width: 100% !important;
                        left: -10em;
                    }

                    @media (max-width: 495px) {
                        bottom: 5px;
                        left: -8em;
                        overflow: visible;
                    }
                }
            }

            &.even {
                p {
                    display: block;
                    text-align: left;
                    width: 80% !important;
                    right: -37%;
                    transform: none;
                    margin-top: -0.5em;

                    @media (max-width: 780px) {
                        width: 100% !important;
                        right: -10em;
                    }

                    @media (max-width: 495px) {
                        bottom: 5px;
                        right: -8em;
                        overflow: visible;
                    }
                }
            }
        }
    }
}
