body {
    font-family: "Manrope";
    color: black;
    margin: 0;
}

.login-page,
.sec-form {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    h1 {
        color: black;
        font-size: 2.5rem;
        font-weight: 300;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle at 20% 30%, #ffeede 25%, transparent 26%),
            radial-gradient(circle at 80% 20%, #ffeede 25%, transparent 26%),
            radial-gradient(circle at 40% 80%, #ffeede 25%, transparent 26%),
            radial-gradient(circle at 70% 80%, #ffeede 25%, transparent 26%);
        filter: blur(60px);
        z-index: -1;
        background-repeat: no-repeat;
    }
    form {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        background-color: #fff8f1;
        opacity: 0.95;
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        h1 {
            color: black;
            margin: 0;
            padding: 0;
            margin-bottom: 0.3em;
        }
        p {
            font-size: 5rem;
            margin: 0;
            padding: 0;
            margin-bottom: 0.3em;
        }
        .field {
            background-color: #fafafa;
            font-size: 35px;
            padding: 5px;
            width: 80%;
            margin-bottom: 25px;
            border-radius: 10px;
            border-width: 0.5px;
            transition:
                background-color 0.3s,
                color 0.3s;
            &[type="submit"] {
                width: auto;
            }

            &:hover {
                background-color: #e0e0e0;
            }

            &:focus,
            &:active {
                background-color: #d0d0d0;
            }

            &.submit {
                padding: 5px 20px;
            }
        }
        .submit {
            border-radius: 5px;
        }
        .button-reg {
            margin-bottom: 0;
            background-color: #d8d8d8;
            color: inherit;
            text-decoration: none;
            font-size: 35px;
            padding: 5px 10px;
            border-radius: 5px;
            border-color: black;
            border-width: 1px;
            border-style: solid;
            transition:
                background-color 0.3s,
                color 0.3s;
        }
    }
}

.login-page {
    .sec-info {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        gap: 7em;
        .company-name {
            width: 40%;
            background-color: #fff1e3;
            border: 1px solid #ff7700;
            padding: 15px;
            margin-right: 20px;
            border-radius: 0 10px 10px 0;
            padding: 27px 60px;
            p {
                margin: 0;
                font-size: 7.5rem;
                font-weight: lighter;
                color: #333;
            }
        }

        .info {
            width: 30%;
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 15px;
            border: 2px solid #ff6600;
            border-radius: 8px;

            p {
                margin: 0 15px 0 0;
                font-size: 2rem;
                color: #666;
            }

            img {
                width: 318px;
                height: 192px;
                border-radius: 10px;
                object-fit: cover;
            }
        }
    }
    form {
        height: 50%;
        background-color: #ffefe1;
        margin-bottom: 1em;
        .field {
            margin-bottom: 1.2em;
        }
        .submit {
            margin-bottom: 1em;
        }
        .button-reg {
            margin-bottom: 0;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
