@mixin border-style($radius: 0, $color: transparent, $width: 2px, $style: solid) {
    border-radius: $radius;
    border-color: $color;
    border-width: $width;
    border-style: $style;
}

@mixin responsive-font($max-font, $dynamic-font) {
    font-size: min($max-font, $dynamic-font);
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
}

@mixin customButton(
    $color: black,
    $backgroundColor: #fff1e3,
    $borderColor: black,
    $fontSize: 1.5rem,
    $margin-bottom: 2em
) {
    padding: 0.5em 2em;
    border: none;
    font: inherit;
    color: $color;
    background-color: $backgroundColor;
    cursor: pointer;
    border-radius: 0.5em;
    border-color: $borderColor;
    border-width: 0.025em;
    border-style: solid;
    font-size: $fontSize;
    margin-top: 3.125em;
    margin-bottom: $margin-bottom;
}
