.read-only-page {
    overflow-x: hidden;
    .block {
        border-bottom: none;
        padding-top: 2em;
    }
    .header {
        &.sample2 {
            padding-top: 3em;
        }
        &.sample3 {
            padding-top: 4em;
        }
        &.sample4 {
            padding-top: 0;
        }
    }
}
