@use "./sample/block-bar.scss";
@use "./sample/block-bar-lib.scss";
@use "./sample/blocks.scss";
@use "./sample/header.scss";
@use "./sample/content-and-setting-bar.scss";
@use "./sample/header-samples.scss";
@use "./sample/text.scss";
@use "./mixins.scss" as mixins;
@use "./sample/text-samples.scss";
@use "./scroll-bar.scss";
@use "./sample/gallery.scss";
@use "./sample/gallery-samples.scss";
@use "./sample/button.scss";
@use "./sample/video.scss";
@use "./sample/contacts.scss";
@use "./sample/contacts-samples.scss";
@use "./sample/modal.scss";
@use "./sample/preview.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  text-align: center;
}

.redactor-page {
  font-family: "Manrope";
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 15em;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    font-size: 5px !important;
  }
}
h1,
h2,
h3,
p {
  max-width: 100%;
  text-wrap: wrap;
}
.page__content {
  width: 100%;
}
.new-block {
  @include mixins.customButton;
  @media (max-width: 585px) {
    font-size: 1.25rem;
  }
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.page-buttons {
  justify-content: center;
  gap: 2em;
  display: flex;
  padding: 0;
}

.save-page,
.submit-page {
  margin: 0;
  color: white;
  background-color: black;
  margin-top: 3.125em;
  margin-bottom: 2em;
  padding: 0.5em 1.2em;
}

.hidden {
  display: none !important;
}

section.block {
  position: relative;
  overflow: visible;
  border-bottom: 2px solid #c9c9c9;
  &:first-of-type {
    margin-top: 3em !important;
  }
}

:root {
  --max-font-h1: 8rem;
  --max-font-h2: 5rem;
  --max-font-p: 4.5rem;

  --w: 20px;
  --h: 5px;
  --c: transperent;
}

@media (max-width: 768px) {
  :root {
    --max-font-h1: 5rem;
    --max-font-h2: 3rem;
    --max-font-p: 2.5rem;
  }
}

@media (max-width: 480px) {
  :root {
    --max-font-h1: 3.5rem;
    --max-font-h2: 2rem;
    --max-font-p: 1rem;
  }
}
