@use "./sample/block-bar.scss";
@use "./sample/block-bar-lib.scss";
@use "./sample/blocks.scss";
@use "./sample/header.scss";
@use "./sample/content-and-setting-bar.scss";
@use "./sample/header-samples.scss";
@use "./sample/text.scss";
@use "./mixins.scss" as mixins;
@use "./sample/text-samples.scss";
@use "./scroll-bar.scss";
@use "./sample/gallery.scss";
@use "./sample/gallery-samples.scss";
@use "./sample/button.scss";
@use "./sample/video.scss";

body {
  font-family: "Manrope";
  color: black;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    font-size: 5px !important;
  }
}

.new-block {
  @include mixins.customButton;
  @media (max-width: 585px) {
    font-size: 1.25rem;
  }
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.page-buttons {
  display: flex;
  padding: 0;
}

.save-page,
.submit-page {
  margin: 0;
  color: white;
  background-color: black;
  margin-bottom: 1em;
}

.save-page {
  margin-left: 50%;
}

.hidden {
  display: none !important;
}

section section {
  border-bottom: 2px solid #c9c9c9;
}

:root {
  --max-font-h1: 8rem;
  --max-font-h2: 5rem;
  --max-font-p: 4.5rem;

  --w: 20px;
  --h: 5px;
  --c: transperent;
}

@media (max-width: 768px) {
  :root {
    --max-font-h1: 7rem;
    --max-font-h2: 4rem;
    --max-font-p: 3.5rem;
  }
}

@media (max-width: 480px) {
  :root {
    --max-font-h1: 4rem;
    --max-font-h2: 2rem;
    --max-font-p: 1.5rem;
  }
}
