.bar-content,
.lib {
    height: 100% !important;
    &::-webkit-scrollbar {
        width: 6px !important;
    }
    &::-webkit-scrollbar-track {
        background: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
        background: #d9d9d9 !important;
        border-radius: 10px !important;
    }
    scrollbar-width: auto !important;
}

textarea {
    &::-webkit-scrollbar {
        width: 6px !important;
    }
    &::-webkit-scrollbar-track {
        background: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
        background: #919191 !important;
        border-radius: 10px !important;
    }
    scrollbar-width: auto !important;
}
